_site
.sass-cache
.jekyll-metadata
node_modules/
.idea/workspace.xml
.idea/vcs.xml
.idea/markdown-navigator.xml

_plugins
_edition_files
_includes
_layouts
_sass
css
fonts
js
404.html
_config.copy.yml
allposts.html
Gemfile
Gemfile.lock
index.html
search.json
