<header class="mdl-layout__header layout-row layout-align-space-between-center mdl-color--white mdl-color-text--grey-700">
    <div class="mdl-layout__header-row flex">
        <div class="logo-header">
            <a href="/"><img src="{{ site.url }}{{ site.logo_url }}" alt=""></a>
        </div>
        <nav class="mdl-navigation mdl-layout--large-screen-only links">
          <a href="/">Home</a>
          <a href="{{ "/docs/" | append: site.version | append: "/resources/messages" | prepend: site.baseurl }}">API</a>
          {% if site.show_styleguide %}
            <a href="{{ "/styleguide/intro" | prepend: site.baseurl }}">Guía de estilo</a>
          {% endif %}
          <!--  descomentar cuando esté listo el blog -->
          <!--<a href="{{ site.posts.first.url | prepend: site.baseurl }}">Blog</a>-->
        </nav>
        <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-layout__header-row flex">
      <nav class="mdl-navigation mdl-layout--large-screen-only flex layout-row layout-align-end">
        <form id="search-form">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable width-100">
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-box" Placeholder="Buscar...">
            </div>
            <label id="search-label" class="mdl-button mdl-js-button mdl-button--icon mdl-color--white .mdl-color-text--grey-700" for="search-box">
              <i class="material-icons .mdl-color-text--grey-700">search</i>
            </label>
          </div>
        </form>
      </nav>
    </div>
</header>
<div class="mdl-layout__drawer mobile_drawer">
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ site.baseurl }}">Home</a>
    <a class="mdl-navigation__link" href="{{ "/docs/" | append: site.version | append: "/resources/messages" | prepend: site.baseurl }}">API</a>
    {% if site.show_styleguide %}
      <a class="mdl-navigation__link" href="{{ "/styleguide/intro" | prepend: site.baseurl }}">Guía de estilo</a>
    {% endif %}
    <form class="mdl-navigation__link" id="search-form">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input search-box-mobile" type="text" Placeholder="Buscar...">
      </div>
    </form>
  </nav>
</div>
