@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?aq7tqr');
  src:  url('../fonts/icomoon.eot?aq7tqr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?aq7tqr') format('truetype'),
    url('../fonts/icomoon.woff?aq7tqr') format('woff'),
    url('../fonts/icomoon.svg?aq7tqr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 28px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-autenticacion:before {
  content: "\e913";
}
.icon-codigo-abierto:before {
  content: "\e914";
}
.icon-recursos:before {
  content: "\e915";
}
.icon-compound_product:before {
  content: "\e900";
}
.icon-confirm_save:before {
  content: "\e901";
}
.icon-document_a:before {
  content: "\e902";
}
.icon-document_b:before {
  content: "\e903";
}
.icon-document_c:before {
  content: "\e904";
}
.icon-document_confirm:before {
  content: "\e905";
}
.icon-document_p:before {
  content: "\e906";
}
.icon-document_preview:before {
  content: "\e907";
}
.icon-document_r:before {
  content: "\e908";
}
.icon-document_x:before {
  content: "\e909";
}
.icon-export_csv:before {
  content: "\e90a";
}
.icon-export_pdf:before {
  content: "\e90b";
}
.icon-export_txt:before {
  content: "\e90c";
}
.icon-export_xls:before {
  content: "\e90d";
}
.icon-generate_document:before {
  content: "\e90e";
}
.icon-percent_batch:before {
  content: "\e90f";
}
.icon-product_compound:before {
  content: "\e910";
}
.icon-product_variant:before {
  content: "\e911";
}
.icon-save_draft:before {
  content: "\e912";
}
