<!DOCTYPE html>
<html>

{% include head.html %}

<body class="mdl-demo">
    <div class="mdl-layout mdl-js-layout {% if page.path contains "_docs" %} mdl-layout--fixed-drawer {% endif %}{% if page.path contains "_styleguide" %} mdl-layout--fixed-drawer {% endif %} mdl-layout--fixed-header">
        {% include topnav.html %}

        {% if page.path contains "_docs" %}
          {% include docs_nav.html %}
        {% endif %}
        {% if page.path contains "_styleguide"%}
          {% include style_nav.html %}
        {% endif %}

        <main class="mdl-layout__content">
        {{ content }}

        {% include footer.html %}
        </main>
    </div>

    {% include js_files.html %}

</body>

</html>
