---
layout: default
---

      <div class="layout-row layout-align-space-between-start">
          <div class="layout-row layout-align-center-start mdl-color--grey-50 flex width-100">
              <div class="flex-50 flex-rs-big-70 flex-sm-100 flex-rs-md-100 flex-md-100" style="margin: 20px 0; padding: 0 20px">
                {% if page.section == "Filtros" %}
                  <h1>{{ page.title }}</h1>
                  {% include filterinfo.html %}
                {% elsif page.resource.size > 0 %}
                  <h1>{{ page.resource }} resource</h1>
                  {% include resourceinfo.html %}
                {% else %}
                  {% if page.title == 'Guía de estilos' %}
                  <img src="{{ site.styleguide_img_url | prepend: site.baseurl }}" class="img-responsive">
                  {% endif %}
                  <h1>{{ page.title }}</h1>
                {% endif %}
                <div id="markdown-content-container">{{ content }}</div>
                <!-- <p class="text-center">
                  <br />
                  <a target="_blank" href="{{site.git_edit_address}}/{{ page.path }}" class="btn btn-default githubEditButton" role="button">
                    <i class="fa fa-pencil fa-lg"></i> Mejorar esta documetnació
                  </a>
                </p> -->
                <hr>
              </div>
          </div>
      </div>
